{% load static %}
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'news/new/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Домашняя</a></li>
                                        {% if request.user.is_authenticated %}
                                            {% if perms.portal.change_profile %}
                                            <li><a href="{% url 'portal:my_resumes' %}">Мои резюме</a></li>
                                            {% else %}
                                            <li><a href="{% url 'portal:my_vacancies' %}">Мои вакансии</a></li>
                                            {% endif %}

                                        <li><a href="#">Меню <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                {% if perms.portal.change_profile %}
                                                <li><a href="{% url 'portal:dashboard' %}">Вакансии </a></li>
                                                <li><a href="{% url 'portal:feedback_list' %}">Отклики и приглашения </a></li>
                                                <li><a href="{% url 'favorites:favorites_list' %}">Избранное </a></li>
                                                {% else %}
                                                <li><a href="{% url 'portal:dashboard' %}">Кандидаты </a></li>
                                                <li><a href="{% url 'portal:feedback_list' %}">Отклики и приглашения </a></li>
                                                <li><a href="{% url 'favorites:favorites_list' %}">Избранное </a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% endif %}
                                        <li><a href="{% url 'news:contact' %}">Контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                {% if request.user.is_authenticated %}
                                <div class="phone_num d-none d-xl-block">
                                    <a href="{% url 'portal:private' %}">Личный кабинет</a>
                                </div>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn3" href="{% url 'portal:logout' %}">Выход</a>
                                </div>
                                {% else %}
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn3" href="{% url 'portal:login' %}">Войти</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>