{% extends "news/base.html" %}
{% block title %} Подбор работы {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Новости</h1>
    {% for s_news in news %}
    <div class="row">
        <div class="col">
            <div class="single_news">
                <h2>
                    <a href="{{ s_news.get_absolute_url }}">{{ s_news.title }}</a>
                </h2>
                <p class="date"><small class="text-muted">{{ s_news.publish }}</small></p>
                <p class="content">{{ s_news.body|truncatewords:30|linebreaks }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include "news/pagination.html" with page=news %}
    <h1 class="text-center">Компании - партнеры</h1>
    <div class="row mb-4">
        <div class="col-4">
            <div class="partner_card">
                Albatross Internet Group
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                ALFA system
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                1C:Франчайзи Инжиниринг
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                Cetera
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                EYECONWEB
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                Medesk
            </div>
        </div>
    </div>
</div>
{% endblock %}