{% extends "news/base.html" %}
{% block title %} Подбор работы {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Правила поведения на портале</h3>
            <p>Добро пожаловать на портал AlmostHH</p>
            <p>
                Обращаем ваше внимание, что мы особенно ценим вежливость, ведь
                это способ показать уважение не только к окружающим, но и к себе самому.
            </p>
            <p>
                Во избежание недоразумений просим вас ознакомиться с небольшим сводом правил
            </p>
            <h3>Запрещается</h3>
            <p>
                Писать оскорбления и угрозы в адрес посетителей и администрации сайта, переходить на личности, открыто хамить и унижать человеческое достоинство.
            </p>
            <p>
                Размещать сообщения, содержащие призывы к разжиганию любых видов розни, совершению противоправных действий и всего, что подлежит преследованию законодательством Российской Федерации.
            </p>
            <p>
                Использовать ненормативную лексику, а также грубые слова и выражения (помеченные в словаре как «бранн.», «пренебр.», «грубо»); за подобное поведение пользователь может быть заблокирован в данном сообществе без объяснения причин.
            </p>
            <p>
                Размещать спам, а также рекламу товаров и услуг, других ресурсов, саморекламу (например: «заходите к нам на сайт, у нас есть то, что решит вашу проблему» или «в моей книге про это всё написано»), ссылки и гиперссылки.
            </p>
            <p>
                Размещать рекламу, в любой форме, сервисов или услуг, аналогичных тем, что предоставляет портал.
            </p>
        </div>
    </div>
    <h1 class="text-center">Новости</h1>
    {% for s_news in news %}
    <div class="row">
        <div class="col">
            <div class="single_news">
                <h2>
                    <a href="{{ s_news.get_absolute_url }}">{{ s_news.title }}</a>
                </h2>
                <p class="date"><small class="text-muted">{{ s_news.publish }}</small></p>
                <p class="content">{{ s_news.body|truncatewords:30|linebreaks }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include "news/pagination.html" with page=news %}
    <h1 class="text-center">Компании - партнеры</h1>
    <div class="row mb-4">
        <div class="col-4">
            <div class="partner_card">
                Albatross Internet Group
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                ALFA system
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                1C:Франчайзи Инжиниринг
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                Cetera
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                EYECONWEB
            </div>
        </div>
        <div class="col-4">
            <div class="partner_card">
                Medesk
            </div>
        </div>
    </div>
</div>
{% endblock %}