{% extends "news/base.html" %}
{% block title %} Правила портала {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Правила поведения на портале</h3>
            <p>Добро пожаловать на портал AlmostHH</p>
            <p>
                Обращаем ваше внимание, что мы особенно ценим вежливость, ведь
                это способ показать уважение не только к окружающим, но и к себе самому.
            </p>
            <p>
                Во избежание недоразумений просим вас ознакомиться с небольшим сводом правил
            </p>
            <h3>Запрещается</h3>
            <p>
                Писать оскорбления и угрозы в адрес посетителей и администрации сайта, переходить на личности, открыто хамить и унижать человеческое достоинство.
            </p>
            <p>
                Размещать сообщения, содержащие призывы к разжиганию любых видов розни, совершению противоправных действий и всего, что подлежит преследованию законодательством Российской Федерации.
            </p>
            <p>
                Использовать ненормативную лексику, а также грубые слова и выражения (помеченные в словаре как «бранн.», «пренебр.», «грубо»); за подобное поведение пользователь может быть заблокирован в данном сообществе без объяснения причин.
            </p>
            <p>
                Размещать спам, а также рекламу товаров и услуг, других ресурсов, саморекламу (например: «заходите к нам на сайт, у нас есть то, что решит вашу проблему» или «в моей книге про это всё написано»), ссылки и гиперссылки.
            </p>
            <p>
                Размещать рекламу, в любой форме, сервисов или услуг, аналогичных тем, что предоставляет портал.
            </p>
        </div>
    </div>
</div>
{% endblock %}