{% extends "news/base.html" %}
{% block title %} Добавление резюме {% endblock %}
{% block extra_head %} {{ resume_form.media }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">

            <h1 class="mb-3">Добавление резюме</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="left-menu">

                    {% include 'portal/account/includes/dashboard_menu.html' %}

            </div>
        </div>
        <div class="col-9 text-center">
            <p class="text-center">Используйте следующую форму для добавления опыта работы:</p>
            <form action="." method="post" class="add_resume visual_form">
                {% csrf_token %}
                {{ resume_form.as_p }}
                <div class="exp-formset">
                   {{ exp_formset.management_form }}
                    {% for form in exp_formset %}
                    <div class="exp-formset-item">
                        {{ form }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-buttons mt-3">
                    <button type="submit" class="btn btn-outline-primary" name="save">Сохранить</button>
                    <button type="submit" class="btn btn-outline-primary" name="moderate">Отправить на модерацию</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
