{% extends "news/base.html" %}
{% block title %} Изменение вакансии {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">

            <h1 class="mb-3">Изменение вакансии</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="left-menu">

                    {% include 'portal/account/includes/dashboard_menu.html' %}

            </div>
        </div>
        <div class="col-5 text-center">
            <p class="text-center">Используйте следующую форму для изменения вакансии:</p>
            {% if comment %}
            <p class="alert alert-danger">{{ comment }}</p>
            {% endif %}
            <form action="." method="post" class="edit_vacancy visual_form">
                {{ vacancy_form.as_p }}
                {% csrf_token %}
                <div class="form-buttons">
                    <button type="submit" class="btn btn-outline-primary" name="save">Сохранить</button>
                    <button type="submit" class="btn btn-outline-primary" name="moderate">Отправить на модерацию</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
