{% extends "news/base.html" %}
{% block title %} Поиск резюме {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    {% for s_resume in resume %}
        <div class="col-12">
            <div class="find_resume">
                <h2>
                    <a href="{% url 'portal:resume_detail' s_resume.id %}">{{ s_resume.title }}</a>
                </h2>
                <p class="content"><small class="text-muted">{{ s_resume.user }}</small></p>
                <p class="content">{{ s_resume.salary}}</p>
                <p class="content">{{ s_resume.about_me | linebreaks}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}