{% extends "news/base.html" %}
{% block title %} Поиск вакансий {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for s_job in job %}
        <div class="col-12">
            <div class="find_job">
                <h2>
                    <a href="{% url 'portal:vacancy_detail' s_job.id %}">{{ s_job.title }}</a>
                </h2>
                <p class="content">{{ s_job.annotate_expression}}</p>
                <p class="content">{{ s_job.address}}</p>
                <p class="content"><small class="text-muted">{{ s_job.salary}}</small></p>
                <p class="content">{{ s_job.description|truncatewords:30|linebreaks }}</p>
                <p class="content"><small class="text-muted">{{ s_job.publish}}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
