{% extends "news/base.html" %}
{% block title %} {{ vacancy.title }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="left-menu">

                    {% include 'portal/account/includes/dashboard_menu.html' %}

            </div>
        </div>
        <div class="col-9">
            {% if perms.portal.change_vacancy and vacancy.company.user == request.user %}
            {% if vacancy.comment %}
            <p class="alert alert-danger">{{ vacancy.comment }}</p>
            {% endif %}
            {% endif %}
            <h1>{{ vacancy.title }}
                {% if perms.portal.change_vacancy and vacancy.company.user == request.user %}
                <span class="h6"><a href="{% url 'portal:edit_vacancy' vacancy.id %}">редактировать</a></span>
                {% endif %}
            </h1>

            {% if perms.portal.change_resume %}
            {% include 'favorite/includes/add_to_favorites.html' with type='vac' id=vacancy.id %}
            {% endif %}

            <p class="h3 text-muted">{{ vacancy.salary }}</p>
            <div class="company_card mt-5 mb-5">
                <p class="h3">{{ vacancy.company.title }}</p>
                <p>{{ vacancy.company.logo }}</p>
            </div>
            <p>{{ vacancy.description | linebreaks }}</p>
            <h2>Адрес</h2>
            <p>{{ vacancy.address }}</p>
            <h2>Контактная информация</h2>
            <p>{{ vacancy.company.contact }}</p>

        </div>
    </div>
</div>
{% endblock %}
