{% extends "news/base.html" %}
{% block title %} Избранное {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">

            <h1 class="mb-3">Избранное </h1>

        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="left-menu">

                    {% include 'portal/account/includes/dashboard_menu.html' %}

            </div>
        </div>
        <div class="col-9">
            <br>
            {% for item in res %}
             <div class="job_listing_area" style="width:100%">
                <div class="container">
                    <div class="row" style="width:100%">
                        <div class="col-lg-9">
                            <div class="job_lists m-0">
                                <div class="row" style="width:100%">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="single_jobs white-bg d-flex justify-content-between">
                                            <div class="jobs_left d-flex align-items-center">
                                                <div class="thumb">
                                                    <img src="img/svg_icon/1.svg" alt="">
                                                </div>
                                                <div class="jobs_conetent">
                                                    <a href="{% url 'portal:resume_detail' item.id %}"><h4>{{ item.title }}</h4></a>
                                                    <div class="links_locat d-flex align-items-center">
                                                        <div class="location">
                                                            <p> <i class="fa fa-rub"></i>{{ item.salary }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for item in vac %}
             <div class="job_listing_area" style="width:100%">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="job_lists m-0">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="single_jobs white-bg d-flex justify-content-between">
                                            <div class="jobs_left d-flex align-items-center">
                                                <div class="thumb">
                                                    <img src="img/svg_icon/1.svg" alt="">
                                                </div>
                                                <div class="jobs_conetent">
                                                    <a href="{% url 'portal:vacancy_detail' item.id %}"><h4>{{ item.title }}</h4></a>
                                                    <div class="links_locat d-flex align-items-center">
                                                        <div class="location">
                                                            <p> <i class="fa fa-user-o"></i>{{ item.company.title }}</p>
                                                        </div>
                                                        <div class="location">
                                                            <p> <i class="fa fa-map-marker"></i>{{ item.address }}</p>
                                                        </div>
                                                                                                                <div class="location">
                                                            <p> <i class="fa fa-rub"></i>{{ item.salary }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}